
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Menu Display</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.js"></script>
    <script language="javascript">
        var connection = new signalR.HubConnectionBuilder().withUrl("/MenuHub").build();

        connection.on("ColorChanged", function (tl, tr, bl, br) {
            // TODO: Update color objects from here.
        });

        connection.start().then(function(){
        }).catch(function (err) {
            return console.error(err.toString());
        });
    </script>

</head>
<body>
    This will just be for background control for the streamer.
</body>
</html>
