name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore .\src
    - name: Build
      run: dotnet build .\src --no-restore --configuration Release
    - name: Test
      run: dotnet test .\src\UnitTests --no-build --verbosity normal -- configuration Release
